In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
#Import Raw Data
agriculture_path = 'agriculture.csv'
emissions_path = 'emissions.csv'

emissions_data = pd.read_csv(emissions_path)
agriculture_data = pd.read_csv(agriculture_path)

In [11]:
emissions_data.head()
# emissions_data.describe()
len(emissions_data)

6965

In [4]:
agriculture_data.head()
agriculture_data.describe()

,year,abaca__manila_hemp__raw_yield,agave_fibres__raw__n_e_c_yield,almond_yield,apples_yield,apricots_yield,areca_nuts_yield,artichokes_yield,asparagus_yield,avocados_yield,...,potato_yield_gap,rapeseed_yield_gap,rice_yield_gap,rye_yield_gap,sorghum_yield_gap,soybean_yield_gap,sugarbeet_yield_gap,sugarcane_yield_gap,sunflower_yield_gap,wheat_yield_gap
count,8804.000000,317.000000,512.000000,1857.000000,3937.000000,2887.000000,562.000000,1280.000000,1829.000000,2595.000000,...,6416.000000,2670.000000,5451.000000,2622.000000,4471.000000,3990.000000,2694.000000,4328.000000,3188.000000,5595.000000
mean,1990.215584,0.957687,0.929164,1.827905,13.855630,6.618382,1.687138,11.295951,4.512243,8.163289,...,14.040004,0.877930,3.425787,2.536523,1.781420,1.263329,27.448491,36.105332,0.666846,2.592268
std,27.590329,0.513938,0.297726,2.407085,12.653865,4.216326,1.950694,5.145865,3.129059,5.347087,...,8.281617,0.630107,1.785556,1.378846,1.345868,0.687739,18.253550,22.773273,0.462987,1.261900
min,1275.000000,0.400000,0.377700,0.000000,0.242700,0.387100,0.194900,0.166700,0.166700,0.123900,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1976.000000,0.628000,0.704050,0.569500,5.527000,3.572350,0.733100,7.500000,2.809500,4.723150,...,8.093127,0.366975,2.186950,1.612850,0.654400,0.740000,12.832574,20.037323,0.277125,1.834300
50%,1993.000000,0.827500,0.927700,1.200200,10.074400,5.930200,1.178500,10.536300,3.958600,7.115100,...,14.299150,0.818300,3.390000,2.566100,1.517900,1.315050,26.581253,35.613449,0.662150,2.716800
75%,2007.000000,1.118600,1.070200,2.051300,17.275099,8.744750,1.714300,14.002875,5.126000,10.000000,...,19.060476,1.309200,4.550500,3.568025,2.912050,1.820100,41.844326,51.583000,1.021525,3.370800
max,2022.000000,4.333300,2.265400,27.023200,173.652700,81.641200,10.389600,35.714300,26.456700,56.684597,...,39.933700,3.048500,8.630799,5.631300,5.773100,2.969100,75.140205,105.980000,2.227200,7.913757

In [5]:
#keep only needed columns
agriculture_data = agriculture_data[['country'
                                     ,'year'
                                     ,'rice_yield']]

agriculture_data.head()

       country  year  rice_yield
0  Afghanistan  1961      1.5190
1  Afghanistan  1962      1.5190
2  Afghanistan  1963      1.5190
3  Afghanistan  1964      1.7273
4  Afghanistan  1965      1.7273

In [6]:
#filter dataset to show only 1990 - 2020
agriculture_data = agriculture_data.loc[(agriculture_data['year'] >= 1990) 
                                        & (agriculture_data['year'] <= 2020)]


#check for null values
agriculture_data.describe()

              year   rice_yield
count  4709.000000  2962.000000
mean   2005.167551     3.672456
std       8.869257     1.998514
min    1990.000000     0.096800
25%    1998.000000     2.170300
50%    2005.000000     3.305750
75%    2013.000000     4.828075
max    2020.000000    11.351100

In [7]:
#remove null values from agriculture
agriculture_data = agriculture_data.dropna(axis=0)

agriculture_data.describe()

              year   rice_yield
count  2962.000000  2962.000000
mean   2005.094531     3.672456
std       8.943621     1.998514
min    1990.000000     0.096800
25%    1997.000000     2.170300
50%    2005.000000     3.305750
75%    2013.000000     4.828075
max    2020.000000    11.351100

In [16]:
#merge dataframes on country and year
merged_df = pd.merge(left=emissions_data
                     ,right=agriculture_data
                     ,left_on=['Area', 'Year']
                     ,right_on=['country', 'year']
                     ,how='left')

#drop redundant merge cols
merged_df = merged_df.drop(['country', 'year'], axis=1)

#rename country and year columns
merged_df = merged_df.rename(columns={'Area': 'Country'})

merged_df.describe()

,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,Net Forest conversion,...,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature Â°C,rice_yield
count,6965.000000,6934.000000,6872.000000,5576.000000,6965.000000,6965.000000,6965.000000,6965.000000,6472.000000,6.472000e+03,...,6965.000000,6810.000000,6009.000000,6.965000e+03,6.965000e+03,6.965000e+03,6.965000e+03,6.965000e+03,6965.000000,2554.000000
mean,2005.124910,1188.390893,919.302167,998.706309,4259.666673,3503.228636,333.418393,1939.581760,-17828.285678,1.760564e+04,...,1210.315532,668.452931,3008.982252,1.785774e+07,1.693230e+07,1.761963e+07,1.732447e+07,6.409124e+04,0.872989,3.624342
std,8.894665,5246.287783,3720.078752,3700.345330,17613.825187,15861.445678,1429.159367,5616.748808,81832.210543,1.011575e+05,...,22669.847760,3264.879486,12637.864430,8.901521e+07,6.574362e+07,7.603993e+07,7.251711e+07,2.283130e+05,0.555930,1.954426
min,1990.000000,0.000000,0.000000,0.000200,0.000000,0.000000,0.000000,0.000100,-797183.079000,0.000000e+00,...,0.000000,0.000000,0.031900,0.000000e+00,0.000000e+00,2.500000e+02,2.700000e+02,-3.918841e+05,-1.415833,0.096800
25%,1997.000000,0.000000,0.000000,11.006525,181.260800,0.000000,6.000000,27.958600,-2848.350000,0.000000e+00,...,0.000000,0.000000,13.291900,9.731100e+04,2.173860e+05,2.013260e+05,2.078900e+05,5.221244e+03,0.511333,2.190900
50%,2005.000000,1.651850,0.517900,103.698200,534.817400,0.000000,13.000000,204.962800,-62.920000,4.444000e+01,...,0.000000,0.000000,141.096300,1.595322e+06,2.357581e+06,2.469660e+06,2.444135e+06,1.214765e+04,0.834300,3.251450
75%,2013.000000,111.081400,64.950775,377.640975,1536.640000,690.408800,116.325487,1207.000900,0.000000,4.701746e+03,...,0.000000,9.577875,1136.925400,8.177340e+06,8.277123e+06,9.075924e+06,9.112588e+06,3.513973e+04,1.206750,4.692725
max,2020.000000,114616.401100,52227.630600,33490.074100,164915.255600,241025.069600,16459.000000,67945.765000,171121.076000,1.605106e+06,...,991717.543100,51771.256800,248879.176900,9.000991e+08,9.020778e+08,7.435866e+08,7.133419e+08,3.115114e+06,3.558083,11.351100

In [20]:
#count nulls for each col. display cols where null is zero
null_counts = merged_df.isnull().sum(axis = 0)
null_counts.loc[null_counts == 0 ]

Country                            0
Year                               0
Rice Cultivation                   0
Drained organic soils (CO2)        0
Pesticides Manufacturing           0
Food Transport                     0
Food Retail                        0
On-farm Electricity Use            0
Food Packaging                     0
Agrifood Systems Waste Disposal    0
Food Processing                    0
Fertilizers Manufacturing          0
Manure left on Pasture             0
Fires in organic soils             0
Rural population                   0
Urban population                   0
Total Population - Male            0
Total Population - Female          0
total_emission                     0
Average Temperature Â°C             0
dtype: int64

In [25]:
#rename merged dataframe 
#this is the final df ready for analysis
#drop na rows if needed
main_df = merged_df.reset_index(drop=True)
main_df

,Country,Year,Savanna fires,Forest fires,Crop Residues,Rice Cultivation,Drained organic soils (CO2),Pesticides Manufacturing,Food Transport,Forestland,...,Fires in organic soils,Fires in humid tropical forests,On-farm energy use,Rural population,Urban population,Total Population - Male,Total Population - Female,total_emission,Average Temperature Â°C,rice_yield
0,Afghanistan,1990,14.7237,0.0557,205.6077,686.0000,0.0,11.807483,63.1152,-2388.8030,...,0.0,0.0,NaN,9655167.0,2593947.0,5348387.0,5346409.0,2198.963539,0.536167,1.9029
1,Afghanistan,1991,14.7237,0.0557,209.4971,678.1600,0.0,11.712073,61.2125,-2388.8030,...,0.0,0.0,NaN,10230490.0,2763167.0,5372959.0,5372208.0,2323.876629,0.020667,1.9364
2,Afghanistan,1992,14.7237,0.0557,196.5341,686.0000,0.0,11.712073,53.3170,-2388.8030,...,0.0,0.0,NaN,10995568.0,2985663.0,6028494.0,6028939.0,2356.304229,-0.259583,1.7143
3,Afghanistan,1993,14.7237,0.0557,230.8175,686.0000,0.0,11.712073,54.3617,-2388.8030,...,0.0,0.0,NaN,11858090.0,3237009.0,7003641.0,7000119.0,2368.470529,0.101917,1.7143
4,Afghanistan,1994,14.7237,0.0557,242.0494,705.6000,0.0,11.712073,53.9874,-2388.8030,...,0.0,0.0,NaN,12690115.0,3482604.0,7733458.0,7722096.0,2500.768729,0.372250,1.9000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6960,Zimbabwe,2016,1190.0089,232.5068,70.9451,7.4088,0.0,75.000000,251.1465,76500.2982,...,0.0,0.0,417.3150,10934468.0,5215894.0,6796658.0,7656047.0,98491.026347,1.120250,0.3428
6961,Zimbabwe,2017,1431.1407,131.1324,108.6262,7.9458,0.0,67.000000,255.7975,76500.2982,...,0.0,0.0,398.1644,11201138.0,5328766.0,6940631.0,7810471.0,97159.311553,0.046500,0.3745
6962,Zimbabwe,2018,1557.5830,221.6222,109.9835,8.1399,0.0,66.000000,327.0897,76500.2982,...,0.0,0.0,465.7735,11465748.0,5447513.0,7086002.0,7966181.0,97668.308205,0.516333,0.3983
6963,Zimbabwe,2019,1591.6049,171.0262,45.4574,7.8322,0.0,73.000000,290.1893,76500.2982,...,0.0,0.0,444.2335,11725970.0,5571525.0,7231989.0,8122618.0,98988.062799,0.985667,0.4484
6964,Zimbabwe,2020,481.9027,48.4197,108.3022,7.9733,0.0,73.000000,238.7639,76500.2982,...,0.0,0.0,444.2335,11980005.0,5700460.0,7385220.0,8284447.0,96505.221853,0.189000,0.5951